#navbar {
    backdrop-filter: blur(2px);
    padding: 1rem;
    justify-content: space-between;
    color: #FFFFF3;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    /* display: flex; */

    a {
        text-decoration: none;
        color: #FFFFF3;
    }
}

#nav-links {
    display: flex;
    column-gap: 1rem;
}

.nav-link {
    border: 2px solid #FFFFF3;
    border-radius: 1rem;
    padding: 0.15rem 2rem;
}

#navbar .nav-link:hover {
    cursor: pointer;
    text-shadow: 0 0 4px #FFFFF3;
    box-shadow: 0 0 4px #FFFFF3;
}

#logo {
    display: flex;
    column-gap: .25rem;
    justify-content: center;
    font-family: "Figtree", sans-serif;
    font-weight: 400;

    p {
        margin: 0;
        font-size: 1.25rem;
    }
}

#mobile-nav {
    #hamburger-nav {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: .25rem;
    }

    #hamburger-nav:hover {
        cursor: pointer;
        #bar-one,
        #bar-two {
            box-shadow: 0 0 4px 0 white;
        }
    }

    #bar-one,
    #bar-two {
        width: 1.5rem;
        height: 2px;
        background-color: white;
        box-shadow: 1px 1px 4px 0 rgb(70, 70, 70);
    }
}

#mobileNav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    list-style: none;
    background-color: rgba(128, 128, 128, 0.25);
    backdrop-filter: blur(10px);
    margin-top: 2rem;
    padding: 1rem 0;
    position: absolute;
    width: 100%;

    a {
        color: #FFFFF3;
        text-decoration: none;
    }

    li {
        font-size: 1.5rem;
    }

    li:hover {
        cursor: pointer;
        text-shadow: 0 0 4px #FFFFF3;
    }
}



.menu-open {
    #bar-one {
        rotate: 45deg;
        position: absolute;
        top: 0;
        right: 0;
    }
    #bar-two {
        rotate: -45deg;
        position: absolute;
        top: 0;
        right: 0;
    }
}

#navbar, #mobile-nav {
    display: none;
}

@media (max-width: 620px) {
    #mobile-nav {
        display: block;
    }
}

@media (min-width: 621px) {
    #navbar {
        display: flex;
    }
}