@import "color-scheme.css";
@import "typography.css";

#body {
    background-color: var(--color-primary);
}


/*****************************/
/* TOP NAV STYLES */
#top-nav {
    background-color: var(--color-nav);
    z-index: 3;
    position: sticky;
    top: -1px;
    left: 0;
    font-size: 14px;
    font-family: var(--font-family-main);
    box-shadow: 0 0 10px 1px #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo {
    color: var(--color-secondary);
}

#dropdown {
    background-color: var(--color-nav);
    align-content: center;
}

#dropdown a, #dropdown {
    justify-self: center;
}

#top-nav .top-nav-link , #top-nav .navbar-brand{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

#top-nav a:hover {
    color: white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.top-nav-link-inactive::after {
    content: "";
    border-radius: 12px;
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--color-secondary);
    transition: width 0.4s ease-in-out;
}

.top-nav-link-inactive:hover::after {
    width: 100%;
}

.top-nav-link-active::after {
    content: "";
    border-radius: 12px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-secondary);
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}

.top-nav-link-active {
    color: white;
}

.btn-piece {
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 6px 0;
    border-radius: 12px;
}

#nav-dropdown-btn:hover {
    .btn-piece {
        background-color: white;
        box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
        transition: 0.5s;
    }
}

.dropdown-close {
    #btn-piece-one {
        transition: 0.5s ease-in-out;
    }

    #btn-piece-two {
        transition: 0.5s ease-in-out;
    }
}

.dropdown-open {
    .btn-piece {
        background-color: rgba(255, 255, 255, 0.75);
    }

    #btn-piece-one {
        transform: rotate(45deg);
        position: fixed;
        top: 23px;
        right: 13px;
        transition: 0.5s ease-in-out;
    }

    #btn-piece-two {
        transform: rotate(-45deg);
        transition: 0.5s ease-in-out;
    }
}


/*****************************/
/* BIO STYLES */

#bio {
    color: var(--color-primary-txt);
    font-family: var(--font-family-main);

    #img-container {
        display: grid;

        #img-div {
            height: 280px;
            width: 280px;
            overflow: hidden;
            box-shadow: 0 0 16px 4px rgba(239, 131, 84, 0.5);
        }

        #gio-img {
            margin: -44px 0 0 0;
        }
    }

    & h1 {
        /*font-size: 60px;*/
        font-size: calc(40px + 1.6vw);
        font-family: var(--font-family-headers);
        position: relative;
        margin: 0;
    }

    #period {
        color: var(--color-secondary);
    }

    & #socials {
        & a {
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            margin-right: 20px;
        }

        & svg {
            width: 20px;
            height: 20px;
            align-self: center;
        }
    }

    & p {
        text-align: justify;
    }
}

.skinny {
    font-weight: lighter;
}

.bolder {
    font-weight: bolder;
}


/*****************************/
/* PROJECTS PAGE STYLES ******/

#projects-container {
    color: var(--color-primary-txt);
    font-family: var(--font-family-main);

    & h1, & h2 {
        font-family: var(--font-family-headers);
    }

    #projects-section-title {
        justify-self: end;
        font-size: calc(30px + 1.6vw);
    }
}

.project-item {

    & p {
        text-align: justify;
        font-size: 18px;
    }

    .img-con {
        display: grid;
        background-color: rgba(47, 49, 54, 0.5);
        border-radius: 20px;
        box-shadow: 0 0 20px 2px #181818;
    }

    & p:nth-of-type(2) {
        border-top: solid 1px var(--color-secondary);
        padding-top: 8px;
    }

    & ul {
        list-style: square;
    }
}


/*****************************/
/* RESUME PAGE STYLES ********/

#resume-container {
    color: var(--color-primary-txt);
    font-family: var(--font-family-main);

    & h1, & h2 {
        font-family: var(--font-family-headers);
    }

    & h1 {
        font-size: calc(30px + 1.6vw);
    }

    & h6 {
        font-weight: bold;
        letter-spacing: 1px;
        padding-bottom: 8px;
        border-bottom: solid 1px var(--color-secondary);
    }

    #skills {
        & li {
            background-color: var(--color-secondary);
            color: black;
            border: none;
        }

        & li:nth-of-type(2) {
            border-left: solid 2px black;
            border-right: solid 2px black;
        }
    }

    #education {
        color: var(--color-primary-txt);

        & li {
            list-style: square;
        }
    }

    #experience {
        & li {
            list-style: square;
        }

        & p {
            text-align: justify;
            margin-bottom: 10px;
        }
    }

}

li {
    padding-top: 10px;
}

.subtext {
    color: var(--color-secondar-txt);
}


/* Reusable btn hover animation */

.btnHoverAnimation {
    font-size: 14px;
    border-radius: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.82);
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 2;
    font-weight: bold;
    padding: 10px 20px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-secondary);
        border-radius: 19px;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #f1653f;
        transition: all .45s;
        border-radius: 19px;
        z-index: -1;
    }

    &:hover {
        color: #fff;
        & svg {
            fill: white;
        }
        &:before {
            width: 100%;
        }
    }
}

.space {
    height: 200px;
}

.half-space {
    height: 100px;
}